* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}
main {
  width: 95%;
  height: 95%;
  background-color: black;
  border: 4px red solid;
}
.target {
  width: 35px;
  height: 35px;
  background-color: red;
  position: relative;
}

.chaser {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: blue;
  position: relative;
  z-index: 2;
}
