* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 60px;
  height: 60px;
  background-color: white;
  display: block;
  position: relative;
  border-radius: 5px;
  transition: width 1.2s ease;
}

.nav {
  position: relative;
  top: 30%;
  padding: 0px 5px;
  display: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

#icon-bars {
  padding: 16.75px;
  font-size: 30px;
  float: right;
}

.active {
  width: 300px;
  transition: width 1.2s ease;
}

.active .nav {
  display: inline;
}
